@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


@font-face {
    font-family:'Marvel';
    src: url(./assets/font/MarvelRegular-Dj83.ttf);
}
*{
    font-family: 'Marvel';
}
h2{
    font-family:'Marvel' ;
}
.bulma-overlay-mixin {
    @include overlay(1.5rem);
    background-color: darkorange;
    border-radius: 0.25em;
    color: white;
    opacity: 0.9;
    padding: 1em;
  }



